.media-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    color: white;
    background-color: rgb(41, 44, 54);
    margin: 0;
}
.media-info {
    background-color: rgb(36, 37, 41);
    text-align: left;

}
.media-info p {
    font-size: 12px;
}
.media-info h3 {
    font-size: 14px;
    margin: 0;
}

.favorite-btn {
    position: absolute;
    border-radius: 50px;
    border-style: none;
    font-size: 1rem;
    top: 0;
    right: 10px;
    color: rgb(41, 44, 54);
}

.favorite-btn.favorited {
    color: white;
}

.media-img {
    min-width: 100%;
}